{
  "printWidth": 150,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "semi": true,
  "importOrder": [
    "^app/(.*)$",
    "^pages/(.*)$",
    "^processes/(.*)$",
    "^widgets/(.*)$",
    "^features/(.*)$",
    "^entities/(.*)$",
    "^shared/(.*)$",
    "^../",
    "^[./]"
  ],
  "importOrderSeparation": true
}
